@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Special+Elite&display=swap");
/*BIENVENIDA A LA PAGINA*/
.contenedorTexto {
  padding-left: 150px;
  box-shadow: 0 0 30px gray;
  margin: 100px 20px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../fotos/fondobarra.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .contenedorTexto h1 {
    color: white;
    font-family: 'Special Elite', cursive; }
  .contenedorTexto p {
    color: white; }
  .contenedorTexto a {
    color: #fff;
    font-size: 25px;
    text-transform: initial; }

/*FLIP CARDS*/
.boxFlip {
  background-color: rgba(5, 7, 12, 0.7); }

.boxFlip1 {
  background-color: rgba(5, 7, 12, 0.7);
  padding-top: 100px; }

.card {
  background-color: rgba(5, 7, 12, 0.7);
  position: relative;
  width: 500px;
  height: 300px;
  margin-bottom: 100px; }
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s; }
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 0 20px #fff; }
    .card .front img {
      position: absolute;
      max-width: 100%;
      object-fit: cover; }
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    .card .back .link {
      border-top: solid 1px white;
      height: 50px;
      line-height: 50px; }
      .card .back .link a {
        color: white; }
    .card .back h3 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px; }
    .card .back p {
      letter-spacing: 1px; }
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
    transition: 1s; }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
    transition: 1s; }

.boxImg {
  margin-top: 100px;
  background-color: rgba(5, 7, 12, 0.7);
  box-shadow: 0 0 10px black;
  border-radius: 40px; }
  .boxImg img {
    max-width: 100%;
    background: rgba(5, 7, 12, 0.7);
    padding: 20px;
    box-shadow: 0 0 10px white; }

.boxText {
  padding: 20px 20px;
  background-color: rgba(5, 7, 12, 0.7);
  box-shadow: inset 0 0 5px white, 0 0 5px white;
  border-radius: 60px;
  border: 1px solid gray;
  margin-bottom: 100px;
  width: 80%;
  margin: auto; }
  .boxText h1 {
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 40px; }
  .boxText p {
    color: white;
    font-size: 22px; }

/* MENU */
.menu h1 {
  color: white;
  font-size: 45px;
  font-family: 'Special Elite', cursive;
  text-shadow: 5px 5px 5px #e00000, 5px 5px 5px #e00000; }

.menu p {
  color: white;
  font-size: 22px;
  margin-bottom: 30px; }

.menu .nav-tabs {
  border: 0; }

.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: white;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #e00000; }
  .menu .nav-link i {
    padding-right: 15px;
    font-size: 48px; }
  .menu .nav-link h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary); }
  .menu .nav-link:hover {
    color: #e00000; }
  .menu .nav-link.active {
    color: white;
    background-color: rgba(5, 7, 12, 0.7);
    box-shadow: 0 0 10px white; }

.menu .tab-content .tab-header {
  padding: 30px 0; }
  .menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0; }
  .menu .tab-content .tab-header h3 {
    font-size: 40px;
    font-weight: 600;
    color: white; }

.menu .tab-content .menu-item {
  -moz-text-align-last: center;
  text-align-last: center; }
  .menu .tab-content .menu-item h2 {
    font-size: 22px;
    font-weight: 500;
    color: white;
    font-family: var(--font-secondary);
    font-weight: 30px;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .ingredients {
    font-family: var(--font-secondary);
    color: whitesmoke;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .price {
    font-size: 24px;
    font-weight: 700;
    color: white;
    border-bottom: 4px solid #e00000;
    width: 100px;
    margin: auto;
    margin-bottom: 20px; }

.contenedorMenu {
  background: rgba(5, 7, 12, 0.7);
  border-radius: 30px; }

.contenedorEventos {
  background-color: rgba(5, 7, 12, 0.7);
  padding: 50px 50px; }

.eventos h1 {
  color: #ecaf0f;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px white;
  font-family: 'Special Elite', cursive; }

.eventos p {
  color: white;
  font-size: 22px;
  margin-bottom: 30px; }

.nav-tabs {
  border: 0; }

.navEventos {
  margin: 0px 50px;
  padding: 10px 5px;
  transition: 0.3s;
  color: white;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #ecaf0f; }
  .navEventos i {
    padding-right: 15px;
    font-size: 48px; }
  .navEventos h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary); }
  .navEventos:hover {
    color: #ecaf0f; }
  .navEventos.active {
    color: white;
    background-color: rgba(5, 7, 12, 0.7);
    box-shadow: 0 0 10px white; }

.tab-content .tab-header h3 {
  font-size: 22px;
  font-weight: 500;
  color: white;
  font-family: var(--font-secondary);
  font-weight: 30px;
  margin: 50px 0; }

.imgFlyer {
  max-width: 100%;
  margin: auto; }

.contenedorReservas {
  box-shadow: 0 0 5px white; }
  .contenedorReservas h3 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 5px solid #ecaf0f;
    width: 280px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px; }

.formularioReservas {
  padding: 20px 20px;
  font-weight: bold; }
  .formularioReservas button {
    background-color: #ecaf0f; }

/*MAPA*/
.mapa {
  background-color: rgba(5, 7, 12, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  box-shadow: 0 0 5px white; }
  .mapa h1 {
    color: white;
    font-weight: bold;
    text-shadow: none; }
  .mapa p {
    color: white;
    margin-top: 50px; }

/*FORMULARIO*/
.formulario {
  max-width: 500px;
  padding: 20px;
  background: rgba(5, 7, 12, 0.7);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 5px white;
  margin: auto; }
  .formulario h2 {
    color: white;
    margin-bottom: 60px;
    font-family: 'Special Elite', cursive; }

body {
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)), url(../fotos/botellas.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/*BARRA DE NAVEGACION*/
.tamLogo {
  max-width: 100%; }

.ancla {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  margin-right: 20px; }
  .ancla:hover {
    color: grey; }

.navbar-toggler {
  background: gray;
  color: white; }

.barra {
  margin-bottom: 100px; }

/*FOOTER*/
footer {
  width: 100%;
  margin-top: 200px;
  background: rgba(5, 7, 12, 0.7); }
  footer i {
    color: white; }
  footer a {
    color: white;
    text-decoration: none; }

/*RESPONSIVE*/
@media (max-width: 480px) {
  .tamLogo {
    height: 100px;
    width: 200px; }
  .mapa {
    margin-bottom: 100px; } }

@media (max-width: 782px) {
  .tamLogo {
    height: 100px;
    width: 200px; }
  .mapa {
    margin-bottom: 100px; } }
