.eventosInfo {
    padding: 20px 20px;
    background-color: $color-primario;
    box-shadow: inset 0 0 5px white, 0 0 5px white;
    border-radius: 60px;
    border: 1px solid gray;
    margin-bottom: 100px;

    h1 {
      color: white;
      font-size: 30px;
      font-weight: bold;
    }

    p {
        color: white;
        font-size: 22px;
       }
}

.flyer {
    background: $color-primario;
    padding: 20px;
    box-shadow:0 0 10px white;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    
}



