img {
    max-width: 100%;
  }
  
  .gallery img {
    background: rgba(5, 7, 12, 0.95);
    padding: 20px;
    width: 100%;
  }
  
  h1, h2 {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }