
   /*BIENVENIDA A LA PAGINA*/
  
  .contenedorTexto {
    padding-left: 150px;
    box-shadow: 0 0 30px gray;
    margin: 100px 20px;
    background-image:  linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)),url(../fotos/gente.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    
    h1 {
      color: white;
      font-family: 'Special Elite', cursive;

    }

    p {
      color: white;
    }

    a {
      color: #fff;
      font-size: 25px;
      text-transform: initial;

      &:hover {
        font-size: 30px;
        transition: 0.1s;
      }
    }
  }

  /*FLIP CARDS*/
  
.boxFlip {
  background-color: $color-primario;
  padding-top: 100px;
  box-shadow: 10 10 20px black;

}

.boxFlipDos {
  background-color: $color-primario;
  box-shadow: 10 10 20px black;

}

  .card {
    background-color: $color-primario;
    position: relative;
    width: 500px;
    height: 300px;
    margin-bottom:  100px;
   
    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;
    }
  
    .front {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 0 20px #fff;
  
      img {
        position: absolute;
        max-width: 100%;
        object-fit: cover;
      }
    }
  
    .back {
      transform: perspective(600px) rotateY(180deg);
      padding: 15px;
      color: white;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
  
      .link {
        border-top: solid 1px white;
        height: 50px;
        line-height: 50px;
  
        a {
          color: white;
        }
      }
  
      h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
      }
  
      p {
        letter-spacing: 1px;
      }
    }
  
    &:hover {
      .front {
        transform: perspective(600px) rotateY(180deg);
        transition: 1s;
      }
  
      .back {
        transform: perspective(600px) rotateY(360deg);
        transition: 1s;
      }
    }
  }
  
