/* MENU */


.menu {
    h1 {
      color: #5B061D;
      font-size: 40px;
      font-weight: bolder;
      text-shadow: 0 0 4px white;

    }

    p {
      color: white;
      font-size: 22px;
      margin-bottom: 30px;
    }

    .nav-tabs {
      border: 0;
    }

    .nav-link {
      margin: 0 10px;
      padding: 10px 5px;
      transition: 0.3s;
      color: white;
      cursor: pointer;
      height: 100%;
      border: 0;
      border-bottom: 4px solid #5B061D; 
     

      i {
        padding-right: 15px;
        font-size: 48px;
      }

      h2 {
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        font-family: var(--font-secondary);
      }

      &:hover {
        color: #5B061D;
      }

      &.active {
        color: white;
        background-color: $color-primario;
        box-shadow: 0 0 10px white;
      }
    }

    .tab-content {
      .tab-header {
        padding: 30px 0;

        p {
          font-size: 14px;
          text-transform: uppercase;
          color: white;
          margin-bottom: 0;
        }

        h3 {
          font-size: 40px;
          font-weight: 600;
          color: white;
        }
      }

      .menu-item {
        -moz-text-align-last: center;
        text-align-last: center;

        h2 {
          font-size: 22px;
          font-weight: 500;
          color: white;
          font-family: var(--font-secondary);
          font-weight: 30px;
          margin-bottom: 5px;
        }

        .ingredients {
          font-family: var(--font-secondary);
          color: gray;
          margin-bottom: 5px;
        }

        .price {
          font-size: 24px;
          font-weight: 700;
          color: white;
          border-bottom: 4px solid #5B061D;
          width: 100px;
          margin: auto;
          margin-bottom: 20px;
          

          
        }
      }
    }
  }

  .contenedorMenu {
      background: rgba(3, 3, 3, 0.8);
      border-radius: 30px;
    }
