* {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)), url(../fotos/botellas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  @import "variables";
  @import "header";
  @import "galeria";


  /* MENU */


  .menu {
    h1, p {
      color: white;
    }

    .nav-tabs {
      border: 0;
    }

    .nav-link {
      margin: 0 10px;
      padding: 10px 5px;
      transition: 0.3s;
      color: white;
      border-radius: 0;
      cursor: pointer;
      height: 100%;
      border: 0;
      border-bottom: 2px solid #ffb03b;

      i {
        padding-right: 15px;
        font-size: 48px;
      }

      h2 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        font-family: var(--font-secondary);
      }

      &:hover {
        color: #ffb03b;
      }

      &.active {
        color: black;
        border-bottom: #ffb03b;
        background-color: #ffb03b;
        border-radius: 5px;
      }
    }

    .tab-content {
      .tab-header {
        padding: 30px 0;

        p {
          font-size: 14px;
          text-transform: uppercase;
          color: white;
          margin-bottom: 0;
        }

        h3 {
          font-size: 36px;
          font-weight: 600;
          color: white;
        }
      }

      .menu-item {
        -moz-text-align-last: center;
        text-align-last: center;

        h2 {
          font-size: 22px;
          font-weight: 500;
          color: white;
          font-family: var(--font-secondary);
          font-weight: 30px;
          margin-bottom: 5px;
        }

        .ingredients {
          font-family: var(--font-secondary);
          color: #ffb03b;
          margin-bottom: 5px;
        }

        .price {
          font-size: 24px;
          font-weight: 700;
          color: white;
        }
      }
    }
  }

  .contenedorMenu {
      background: rgba(3, 3, 3, 0.8);
      border-radius: 30px;
    }

  
  /*CONTACTO*/
  
  .formulario {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    background: rgba(5, 7, 12, 0.9);
    border-radius: 5px;
    font-weight: bold;
  }
  
  .mapa {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  
  footer {
    width: 100%;
    margin-top: 200px;
    background: rgba(5, 7, 12, 0.9);

    i {
      font-size: 22px;
    }
  }
  
  .barra {
    margin-bottom: 100px;
  }
  
  @media (max-width: 480px) {
    .tamLogo {
      height: 100px;
      width: 200px;
    }
  
    .card {
      width: 350px;
      height: 250px;
      margin: 50px 0px;
    }
  
    .mapa {
      margin-bottom: 100px;
    }
  }
  
  @media (max-width: 782px) {
    .tamLogo {
      height: 100px;
      width: 200px;
    }
  
    .mapa {
      margin-bottom: 100px;
    }
  }