
  
  body {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)), url(../fotos/botellas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  @import "variables";
  @import "inicio";
  @import "galeria";
  @import "menu";
  @import "variables";
  @import "mixin";
  @import "eventos";

/*BARRA DE NAVEGACION*/

  .ancla {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    box-shadow:0 0 5px white;
    border-radius: 10px;
    margin-right: 20px;


    &:hover {
      color: grey;
    }
  }

  .navbar-toggler {
    background: gray;
    color: white;
  }

  
  /*CONTACTO*/
  
  .formulario {
    max-width: 500px;
    padding: 20px;
    background: $color-primario;
    border-radius: 5px;
    font-weight: bold;
    box-shadow:0 0 5px white;
    margin: auto;



    h2 {
      color: white;
      margin-bottom: 60px;
      font-weight: bold;
    }
  }
  
  .mapa {
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow:0 0 5px white;



  }

  .textoUbi {
    display: flex;
    flex-direction: column;


    h1 {
      color: white;
      font-weight: bold;
      
    }

    p {
      color: white;
      margin-top: 50px;
    }
  }
  
  footer {
    width: 100%;
    margin-top: 200px;
    background: $color-primario;

    i {
      color: white;
    }
  }
  
  .barra {
    margin-bottom: 100px;
  }

  /*RESPONSIVE*/
  
  @media (max-width: 480px) {
    .tamLogo {
      height: 100px;
      width: 200px;
    }
  
    .card {
      width: 350px;
      height: 250px;
      margin: 50px 0px;
    }
  
    .mapa {
      margin-bottom: 100px;
    }
    
  }
  
  @media (max-width: 782px) {
    .tamLogo {
      height: 150px;
      width: 300px;
    }
  
    .mapa {
      margin-bottom: 100px;
    }
  }